.game-container {
	padding: 10px;
	width: 1024px;
	height: 768px;
	background-color: #ccc;
	border: 1px solid black;
}

.game-main-wrapper {
	display: flex;
	height: 500px;
	justify-content: space-between;
}

#game-board {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	background-color: #9B9B9B;
	opacity: .4;
}

#game-board-figures {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	z-index: 2;
}


#game-settings-section {
	width: 400px;
	height: 100%;
	background-color: grey;
}

.cell-white {
	width: 62.5px;
	height: 62.5px;
	background-color: black;
}

.cell-black {
	width: 62.5px;
	height: 62.5px;
	background-color: #fff;
}

.line {
	width: 100%;
	height: 50px;
	background-color: black;
}

/* figures */


.blackPawn {
	width: 62.5px;
	height: 62.5px;
	background: url(./assets/blackPawn.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.whitePawn {
	width: 62.5px;
	height: 62.5px;
	background: url(./assets/whitePawn.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.blackRook {
	width: 62.5px;
	height: 62.5px;
	background: url(./assets/blackRook.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.blackKnight {
	width: 62.5px;
	height: 62.5px;
	background: url(./assets/blackKnight.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.blackBishop {
	width: 62.5px;
	height: 62.5px;
	background: url(./assets/blackBishop.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.blackQueen {
	width: 62.5px;
	height: 62.5px;
	background: url(./assets/blackQueen.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.blackKing {
	width: 62.5px;
	height: 62.5px;
	background: url(./assets/blackKing.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.empty {
	width: 62.5px;
	height: 62.5px;
}